<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="rules.css">
    <title>Rules</title>
</head>
<body>
    <header>
        <h1 class="header-style main-header">HOW TO PLAY:</h1>
        <h2 class="header-style game-name">Rock, Paper and Scissors Game</h2>
    </header>
    <section>
        <p class="text-style" style="text-align: center;
        margin-bottom: .6rem;
        font-weight: 600;
        word-spacing: 0;
        color: orangered;
        font-size: clamp(1.4rem, 2vw, 5rem);">Welcome to the classic Rock, Paper, Scissors game! Here’s how you can play:</p>
        <ol class="text-style">
            <li>Select your move by clicking on Rock, Paper, or Scissors.</li>
            <li>The computer will randomly choose its move at the same time.</li>
            <li>The winner is determined by these rules:</li>
            <ul>
                <li>Rock beats Scissors</li>
                <li>Scissors beats Paper</li>
                <li>Paper beats Rock</li>
                <li>If both choices are the same, it’s a tie.</li>
            </ul>
            <li>The first to reach 5 wins is the overall winner!</li>
        </ol>
        <p class="text-style">Good luck, and have fun playing!</p>
    </section>
</body>
</html>
